.keyboard-container {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 4px;
  justify-items: start;
  align-items: center;
  grid-template-areas:
    'Q Q W W E E R R T T Y Y U U I I O O P P backspace backspace . .'
    '. A A S S D D F F G G H H J J K K L L Enter Enter  Enter Enter . '
    '. . Z Z X X C C V V B B N N M M . . . . . . . .'
    '. . . . . . . . Space Space Space Space Space Space Space Space . . . . . . . .';
}

.keyboard-key-space {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 140px;
  background-color: hsl(0deg 0% 90%);
  border: 1px solid #d7d7d7;
  border-radius: 8px;
  text-align: center;
  pointer-events: none;
}

.keyboard-key-enter {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 70px;
  background-color: hsl(0deg 0% 90%);
  border: 1px solid #d7d7d7;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
}

.keyboard-key-backspace {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 45px;
  background-color: hsl(0deg 0% 90%);
  border: 1px solid #d7d7d7;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
}

svg {
  text-align: center;
}

.keyboard-key {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 35px;
  background-color: hsl(0deg 0% 90%);
  border: 1px solid #d7d7d7;
  border-radius: 8px;
  cursor: pointer;
}

.correct-key {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 35px;
  border: 1px solid #d7d7d7;
  border-radius: 8px;
  cursor: pointer;
  color: hsl(0, 0%, 100%);
  background-color: hsl(150deg 70% 30%);
}

.incorrect-key {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 35px;
  border: 1px solid #d7d7d7;
  border-radius: 8px;
  cursor: pointer;
  color: hsl(0, 0%, 100%);
  background-color: hsl(0deg 0% 25%);
}

.misplaced-key {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 35px;
  border: 1px solid #d7d7d7;
  border-radius: 8px;
  cursor: pointer;
  color: hsl(0, 0%, 100%);
  background-color: hsl(50deg 100% 30%);
}

.keyboard-key.flash-key {
  transform: translateY(2px);
}
