.keyboard-container {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 4px;
  justify-items: start;
  align-items: center;

  grid-template-areas:
    'q q w w e e r r t t y y u u i i o o p p backspace backspace . .'
    '. a a s s d d f f g g h h j j k k l l Enter Enter  Enter Enter . '
    '. . z z x x c c v v b b n n m m . . . . . . . .'
    '. . . . . . . . Space Space Space Space Space Space Space Space . . . . . . . .';
}

/* s
  --color-success: hsl(150deg 70% 30%);
  --color-warning: hsl(50deg 100% 30%);
  --color-error: hsl(0deg 70% 45%);
  --color-gray-100: hsl(0deg 0% 10%);
  --color-gray-300: hsl(0deg 0% 25%);
  --color-gray-500: hsl(0deg 0% 50%);
  --color-gray-700: hsl(0deg 0% 75%);
  --color-gray-900: hsl(0deg 0% 90%);

s */

.keyboard-key {
  height: 35px;
  width: 35px;
  background-color: hsl(0deg 0% 90%);
  border: 1px solid #d7d7d7;
  border-radius: 3px;
  cursor: pointer;
  text-align: center;
}

.keyboard-key-space {
  display: flex;
  justify-content: center;
  height: 35px;
  width: 140px;
  background-color: hsl(0deg 0% 90%);
  border: 1px solid #d7d7d7;
  border-radius: 3px;
  cursor: pointer;
  text-align: center;
}

.keyboard-key-enter {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 70px;
  background-color: hsl(0deg 0% 90%);
  border: 1px solid #d7d7d7;
  border-radius: 3px;
  cursor: pointer;
  text-align: center;
}

.keyboard-key-backspace {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 45px;
  background-color: hsl(0deg 0% 90%);
  border: 1px solid #d7d7d7;
  border-radius: 3px;
  cursor: pointer;
  text-align: center;
}

svg {
  text-align: center;
}
